header{
    background-image:linear-gradient(rgba(228, 213, 213, 0.9),rgba(231, 211, 211, 0.4)),url(1.jpg);
    height:100%;
    background-size: cover;
    background-position: center;
}

.pic {
	margin-top: 25px;
	width: 350px;
	height: 350px;
}

.intro{
    text-align: center;
}

.btn{
    border: 1px solid;
    padding: 10px 25px;
    color:rgb(37, 157, 179);
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: black;
}
